@import "tailwindcss";


@theme {
  --font-sans: "Montserrat", sans-serif;
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(40px) !important;
  -webkit-backdrop-filter: blur(40px) !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.35) !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  isolation: isolate !important;
  will-change: backdrop-filter !important;
  position: relative !important;
}

@layer utilities {


  .bg-darkBG {
    background-image: url('./assets/Images/black wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-lightBG {
    background-image: url('./assets/Images/white wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}